{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}{% endblock %}
{% load timetags %}
{% block content %}
<div id="content-main">
    <div>
    <form action="" method="get">
            {% csrf_token %}
            <input type="date" name="from_date">
            <input type="date" name="to_date">
            <input type="submit" value="Search">
        </form>
    </div>
    {% if order_list %}
    <table>
        <th> OrderID	</th>
        <th> Created time	</th>
        <th> Updated time	</th>
        <th> Status	</th>
        <th> Currency amount	</th>
    {% for order in order_list %}
        <tr>
            <td>{{ order.order_id }}</td>
            <td>{{ order.create_time|print_timestamp|date  }}</td>
            <td>{{ order.update_time|print_timestamp|date }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.currency_amount }}</td>
        </tr>
    {% endfor %}
    </table>

{# The following renders the pagination html #}

    {% else %}
        <h3>Orders</h3>
        <p>No orders found</p>
    {% endif %}

</div>
{% endblock %}
