<p>You searched for: <strong>{{ query }}</strong></p>

{% if dreamreals %}
    <p>Found {{ dreamreals|length }} dreamreal{{ dreamreals|pluralize }}.</p>
    <ul>
        {% for dreamreal in dreamreals %}
        <li>{{ dreamreal.name }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No dreamreals matched your search criteria.</p>
{% endif %}