<div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
      <div class="row">
          <div class="col-xs-6">
               <div class = "input-group input-group-sm">
                 <span class = "input-group-addon">From</span>
                  {{ form.start_date }}
              </div>
              <div class = "input-group input-group-sm">
                  <span class = "input-group-addon">To</span>
                {{ form.end_date }}
              </div>
          </div>
      </div>

       <div class="row">
          <div class="col-xs-6">
               <div class = "input-group input-group-sm">
                 <span class = "input-group-addon">Order ID</span>
                   {{ form.orderId }}

              </div>
              <div class = "input-group input-group-sm">
                  <span class = "input-group-addon">UID</span>
                 {{ form.uid }}
              </div>
          </div>
      </div>
       <div class="row">
          <div class="form-group col-md-9">
            <div class="col-md-10">
              <button type="submit" class="btn btn-primary">Cancel</button>
              <button type="submit" class="btn btn-success">Submit</button>
            </div>


          </div>
           <div class="col-md-3">
                  <input type="submit" name="excel" value="Excel Export" class="btn btn-success"/>
            </div>
       </div>
       <div class="ln_solid"></div>
       <div class="row">
          <div class="col-sm-6" id="datatable_wrapper">
              <div class="dataTables_length" id="datatable_length">
                  <label>Show</label>
                      <select name="datatable_length" aria-controls="datatable" class="form-control input-sm">
                          <option value="10">10</option><option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                      </select>
                  <label>
                      entries</label>
              </div>
              </div>
      </div>
 </div>