<div class="row">
  <div class="col-sm-5">
      <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">Showing {{  objects.number }} to {{ per_page }} of {{ objects.paginator.num_pages }} entries</div>
  </div><div class="col-sm-7">
  <div class="row-pagination" style="float:right;">
          {% if objects.paginator.num_pages %}
            <ul class="pagination">

                {% if objects.has_previous %}
                <li  class="previous">
                  <span class="page">
                  <a href="?page={{ objects.previous_page_number  }}&{{ url_query }}">&lt; Prev</a>
                  </span>
                </li>
                {% endif %}

                {% for num in objects.paginator.page_range %}
                        {% if num == objects.number %}
                            <li class="active"><a href="?page={{ num }}&{{url_query }}">{{ num }}</a></li>
                        {% else %}
                            {% if num > 5 %}

                            {% else %}
                                <li class=""><a href="{{  url }}?page={{ num }}&{{ url_query }}">{{ num }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor  num_pages %}

                {% if objects.has_next %}
                    <li class="">
                        <span class="page">...</span>
                    </li>
                     <li class="">
                        <span class="page"><a href="?page={{ objects.paginator.num_pages }}&{{ url_query }}">{{ objects.paginator.num_pages}}</a></span>
                    </li>
                    <li class=" next">
                        <span class="page"><a href="?page={{ objects.next_page_number }}&{{ url_query }}">Next &gt;</a></span>
                    </li>
               {% endif %}
                    </ul>
                {% endif %}
  </div>
</div>
</div>