{% extends "base_with_ga.html" %}

{% block head %}
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart","table"]});
        {% if timelines %}
            google.setOnLoadCallback(drawChartAndTable)
        {% endif %}

        function drawChartAndTable() {
            {% for key, value in timelines.items %}
                var newGraphicDiv = $("<div class='graphic-div'></div>").attr("id", "graphic-div0-" + "{{key}}");
                $("#graphic-divs").append(newGraphicDiv);

                var data = google.visualization.arrayToDataTable([
                [
                {% for title in value.column_titles %}
                "{{ title }}",
                {% endfor %}
                ],
                {% for row in value.data %}
                [
                    {% for col in row %}
                        {% if forloop.counter0 == 0 %}"{{col}}",{% else %}{{col}},{% endif %}
                    {% endfor %}
                ],
                {% endfor %}
                ]);

                var options = {
                  title: '{{key.upper}} - AirPay Bank Account Distribution',
                  vAxis : { baseline : 0},
                  pointSize : 1,
                  width: 850,
                  lineWidth : 1,
                  isStacked: true,
                };

                var newDiv = $("<div></div>").attr("id", "chart-div0-" + "{{key}}");
                newGraphicDiv.append(newDiv);
                var chart = new google.visualization.ColumnChart(document.getElementById("chart-div0-" + "{{key}}"));
                chart.draw(data, options);

                var tableData = new google.visualization.DataTable();
                tableData.addColumn('string', 'Date');
                {% for title in value.column_titles %}
                {% if forloop.counter > 1 %}
                tableData.addColumn('number', '{{ title }}');
                {% endif %}
                {% endfor %}
                tableData.addRows([
                  {% for row in value.data %}
                [
                    {% for col in row %}
                        {% if forloop.counter0 == 0 %}"{{col}}",{% else %}{{col}},{% endif %}
                    {% endfor %}
                ],
                {% endfor %}
                ]);

                var newTableDiv = $("<div></div>").attr("id", "table-div1-" + "{{key}}");
                newGraphicDiv.append(newTableDiv);
                var table = new google.visualization.Table(document.getElementById("table-div1-" + "{{key}}"));
                table.draw(tableData, {width: 850});
            {% endfor %}
        }
    </script>
    <script type="text/javascript">
        $(function() {
            $(".date_picker").datepicker({dateFormat: "yy-mm-dd"});
        });
    </script>
{% endblock %}

{% block body %}
    <div>
        <form method="POST">{%csrf_token%}
          <table id='id_form_table'>
            {{ form.as_table }}
          </table>
            <input type="submit" value="Submit" />
            <input name="download" type="submit" value="Download" />
        </form>
    </div>

    <div id="graphic-divs"></div>
{% endblock %}
