{% extends "base_with_ga.html" %}

{% block head %}
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart","table"]});
        {% if timelines %}
            google.setOnLoadCallback(drawChartAndTable)
        {% endif %}

        function drawChartAndTable() {
            {% for key, value in timelines.items %}
                var newGraphicDiv = $("<div class='graphic-div'></div>").attr("id", "graphic-div-" + "{{key}}");
                $("#graphic-divs").append(newGraphicDiv);

                var data = google.visualization.arrayToDataTable([
                  ['Date', 'A1', 'A7', 'A14', 'A30'],
                {% for row in value %}
                  ["{{row.0}}", {{row.1}}, {{row.2}}, {{row.3}}, {{row.4}}],
                {% endfor %}
                ]);

                var options = {
                  title: '{{key.upper}} - AirPay Transaction Active User',
                  vAxis : { baseline : 0},
                  pointSize : 1,
                  width: 850,
                  lineWidth : 1
                };

                var newDiv = $("<div></div>").attr("id", "chart-div-" + "{{key}}");
                newGraphicDiv.append(newDiv);
                var chart = new google.visualization.ColumnChart(document.getElementById("chart-div-" + "{{key}}"));
                chart.draw(data, options);


                var tableData = new google.visualization.DataTable();
                tableData.addColumn('string', 'Date');
                tableData.addColumn('number', 'A1');
                tableData.addColumn('number', 'A7');
                tableData.addColumn('number', 'A14');
                tableData.addColumn('number', 'A30');
                tableData.addRows([
                  {% for row in value %}
                    ["{{row.0}}", {{row.1}}, {{row.2}}, {{row.3}}, {{row.4}}],
                  {% endfor %}
                ]);

                var newTableDiv = $("<div></div>").attr("id", "table-div-" + "{{key}}");
                newGraphicDiv.append(newTableDiv);
                var table = new google.visualization.Table(document.getElementById("table-div-" + "{{key}}"));
                table.draw(tableData, {width: 850});

            {% endfor %}
        }
    </script>
    <script type="text/javascript">
        $(function() {
            $(".date_picker").datepicker({dateFormat: "yy-mm-dd"});
        });
    </script>
{% endblock %}

{% block body %}
    <div>
        <form method="POST">{%csrf_token%}
          <table id='id_form_table'>
            {{ form.as_table }}
          </table>
            <input type="submit" value="Submit" />
            <input name="download" type="submit" value="Download" />
        </form>
    </div>

    <div id="graphic-divs"></div>
{% endblock %}
